body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#box {
    background-color: blanchedalmond;
    width: 30%;
    height: 80%;
    text-align: center;
    border: 3px solid;
    border-radius: 5px;
    padding: 20px;
    aspect-ratio: 1;
}

#qrcode{
    position: relative;
    left: 25%;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    margin-bottom: 5%;
}

#textBox{
    margin-top: 5%;
    width: 88%;
    height: 5vh;
    font-size: 3vh;
    background-color: rgba(255, 255, 255, 0.912);
    border-color: rgba(246, 0, 0, 0.808);
    border-width: 3px;
    color: coral;
}

#generateButton{
    margin-top: 5%;
    width: 90%;
    height: 5vh;
    font-size: 1.5vw;
}

#pngButton{
    margin-top: 0;
    width: 44.5%;
    height: 5vh;
    font-size: 1.5vw;
}

#jpgButton{
    margin-top: 0;
    width: 44.5%;
    height: 5vh;
    font-size: 1.5vw;
}

.button{
    background-color: coral;
    border-color: rgba(246, 0, 0, 0.808);
    border-width: 3px;
    color: rgb(255, 255, 255);
    transition: background-color 0.3s;
}

.button:hover{
    background-color: rgb(255, 255, 255);
    border-color: rgba(246, 0, 0, 0.808);
    border-width: 3px;
    color: coral;
}

@media (max-width: 600px) {
    #box {
        max-width: 100vw;
        max-height: 100vh;
    }

    #generateButton {
        width: 90vw;
        height: 20vw;
        max-width: 45px;
        max-height: 45px;
        font-size: 1.2rem;
    }

    #pngButton{
        margin-top: 0;
        width: 40vw;
        height: 20vw;
        font-size: 1.5vw;
    }
    
    #jpgButton{
        margin-top: 0;
        width: 40vw;
        height: 20vw;
        font-size: 1.5vw;
    }
}